.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

.branches-table {
  min-height: 360px;
  margin-top: 10px;
}

.bank-id-cell {
  text-align: center;
}

.address-cell {
  display: inline-block;
  overflow: break-word;
  margin-right: 10px;
}
